In [3]:
import pandas as pd
import numpy as np
import random

In [4]:
np.random.seed(17)
df = pd.DataFrame({'col_1':['item_1', 'item_2', 'item_3', 'item_4', 'item_5'], 
                   'col_2': np.random.randint(0, 10, 5), 
                   'col_3': np.random.randint(0, 10, 5)})
df

    col_1  col_2  col_3
0  item_1      1      6
1  item_2      6      4
2  item_3      6      7
3  item_4      9      4
4  item_5      0      7

In [8]:
#Применяем .stack():
df_stack = df.stack()
df_stack.index.names = ['index', 'colum']
df_stack

index  colum
0      col_1    item_1
       col_2         1
       col_3         6
1      col_1    item_2
       col_2         6
       col_3         4
2      col_1    item_3
       col_2         6
       col_3         7
3      col_1    item_4
       col_2         9
       col_3         4
4      col_1    item_5
       col_2         0
       col_3         7
dtype: object

In [12]:
df_stack.unstack(level = 'colum')

colum   col_1 col_2 col_3
index
0      item_1     1     6
1      item_2     6     4
2      item_3     6     7
3      item_4     9     4
4      item_5     0     7