Автор задач Karpov.Courses
https://karpov.courses/analytics?_gl=1*k4q7fv*_ga*MTIzOTE2ODc5MS4xNzA4NDEyMTEy*_ga_DZP7KEXCQQ*MTcxMDQxMTg2OS41Ni4xLjE3MTA0MTUyODkuMTAuMC4w

In [13]:
import pandas as pd

In [14]:
# Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. 
# Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные. 

# Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.

# Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.

# На сколько ночей в среднем бронируют отели разных типов?

# Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного 
# (reserved_room_type). Такое может произойти, например, по причине овербукинга. 
# Сколько подобных наблюдений встретилось в датасете?

# Проанализируйте даты запланированного прибытия. 
# – На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?
# – Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись 
# чаще всего в каждый из периодов

# Посмотрите на числовые характеристики трёх переменных: adults, children и babies. 
# Какая из них имеет наибольшее среднее значение?

# Создайте колонку total_kids, объединив children и babies. 
# Для отелей какого типа среднее значение переменной оказалось наибольшим?

# Создайте переменную has_kids, которая принимает значение True, 
# если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. 
# Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, в
# ыраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

In [15]:
path_to_file = 'bookings.csv'
bookings = pd.read_csv(path_to_file, sep=';')
bookings_head = bookings.head(7)

In [16]:
bookings.shape

(119390, 21)

In [17]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [18]:
#Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.
new_colums = {}
for item in bookings.columns:
    new_item = item.replace(' ', '_')
    new_item = new_item.lower()
    new_colums[item] = new_item
bookings = bookings.rename(columns=new_colums)
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [19]:
# Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.
bookings_for_count = bookings.loc[bookings['is_canceled'] == 0]

In [20]:
 bookings_for_count.country.value_counts()[:5]

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

In [21]:
round(bookings\
    .query("hotel == 'City Hotel'")\
    .agg({'stays_total_nights': ['mean']}), 2)

      stays_total_nights
mean                2.98

In [22]:
over_booking = bookings.query("assigned_room_type!=reserved_room_type").agg({'assigned_room_type' : ['count']})

In [23]:
count_booking = bookings.agg({'assigned_room_type' : ['count']})

In [24]:
over_booking/count_booking * 100

       assigned_room_type
count           12.494346

In [25]:
# Проанализируйте даты запланированного прибытия. 
# – На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?

book_month = bookings\
    .query('arrival_date_year == 2016')\
    .groupby('arrival_date_month',as_index=False)\
    .aggregate({'assigned_room_type' : 'count'})
book_month.arrival_date_month.loc[book_month.assigned_room_type.idxmax()]

'October'

In [26]:
book_month = bookings.query('arrival_date_year == 2017').groupby('arrival_date_month', as_index=False).agg({'assigned_room_type' : ['count']})
book_month.arrival_date_month.loc[book_month.assigned_room_type.idxmax()]

7    May
Name: arrival_date_month, dtype: object

In [27]:
# – Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись 
# чаще всего в каждый из периодов

d = bookings\
    .query("hotel == 'City Hotel'")\
    .groupby(['arrival_date_year', 'arrival_date_month'])\
    .aggregate({'is_canceled':'sum'}).sort_values('is_canceled', ascending=False)

In [28]:
# Посмотрите на числовые характеристики трёх переменных: adults, children и babies. 
# Какая из них имеет наибольшее среднее значение?

a = bookings.adults.mean()
b =  bookings.children.mean()
c =  bookings.babies.mean()
print("avg_adults = {avg_adults}\navg_children = {avg_children}\navg_adults = {avg_babies}\n"\
      .format(avg_adults=round(a, 2), avg_children=round(b,2), avg_babies=round(c,2)))

avg_adults = 1.86
avg_children = 0.1
avg_adults = 0.01

In [29]:
# Создайте колонку total_kids, объединив children и babies. 
# Для отелей какого типа среднее значение переменной оказалось наибольшим?

children_colum = bookings.children
babies_colum = bookings.babies
bookings['total_kids'] = children_colum + babies_colum
bookings.groupby('hotel').agg({'total_kids':'mean'})

              total_kids
hotel
City Hotel      0.096311
Resort Hotel    0.142586

In [31]:
# Создайте переменную has_kids, которая принимает значение True, 
# если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. 
# Посчитайте отношение количества ушедших пользователей к общему количеству клиентов,
# выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

has_kids = bookings.total_kids != 0
bookings['has_kids'] = has_kids
percent_has_not_child = round(bookings\
                          .query("has_kids == False and is_canceled == 1")\
                          .shape[0]/bookings.query("has_kids == False").shape[0]*100, 2)
percent_has_child = round(bookings\
                          .query("has_kids == True and is_canceled == 1")\
                          .shape[0]/bookings.query("has_kids == True").shape[0]*100, 2)
print(f'has_not_child = {percent_has_not_child}, percent_has_child = {percent_has_child}')

has_not_child = 37.22, percent_has_child = 34.95