In [1]:
import pandas as pd

In [18]:
file_list_inn = open('/mnt/HC_Volume_18315164/home-jupyter/jupyter-anna-nikitina/shared/homeworks/python_ds_miniprojects/4_inn/necessary_inn.txt').readlines()
list_inn = [item.strip() for item in list_inn]
len(list_inn)

115

In [21]:
path_to_file = '/mnt/HC_Volume_18315164/home-jupyter/jupyter-anna-nikitina/shared/homeworks/python_ds_miniprojects/4_inn/inn.xls'
df = pd.read_excel(path_to_file)
df = df.astype({'income,RUB':'int'})
df.dtypes

Unnamed: 0                 int64
#                          int64
name                      object
reg_number                 int64
address                   object
head                      object
head_job                  object
head_inn                   int64
phone                     object
email                     object
site                      object
registration_date         object
nalogoplatelschik_code    object
oktmo_code                 int64
okato_code                 int64
registration_region       object
okato_name                object
field                     object
capital,RUB                int64
income,RUB                 int64
dtype: object

In [15]:
df_inn = df[df['head_inn'].isin(list_inn)]

In [23]:
df_inn['income,RUB'].sum()

6104522627393