In [1]:
import pandas as pd
import os

In [2]:
#folder_data = [item for item in os.listdir('/mnt/HC_Volume_18315164/home-jupyter/jupyter-anna-nikitina/shared/Res_Tree') if not item.startswith('.')]

# list_ = []
# for item in folder_data:
#     if not item.startswith('.'):
#         list_.append(item)

In [3]:
#Упрощенный пример считывания данных

# scanning = False
# s = ['1', '2', 'start', '3', '4', 'stop', '5', 'start', '3', '4', '1', '2','stop']
# for item in s:
#     if item == 'stop':
#         scanning = False
#     elif scanning:
#         print(item)
#     elif item == 'start':
#         scanning = True

In [4]:
path_to_file = 'meals_list_2.txt'

In [5]:
all_data = []
scanning = False
for item in open(path_to_file).readlines():
    if item == '-----------------------------------------------------\n':
        scanning = False
    elif scanning:
        if 'Meal#;' in item:
            col_name = item
        else:
            all_data.append([i.strip() for i in item.split(';')])
    elif item == '--- Non-deleted saved meals -----------------------\n':
        scanning = True

In [6]:
col_name_list = [item.strip() for item in col_name.strip().split(';')]

In [7]:
meal_df = pd.DataFrame(all_data, columns=col_name_list[:17])

In [8]:
meal_df.head()

,Meal#,Date,Start,End,Flags,E-IN,Cbh,Fat,Pro,S. tstamp,End tstamp,Minutes,Recs,First,Last,Type,Frags
0,0,09.01.2020,10:54,12:33,0x84,247.41,18.85,13.58,12.45,1578556469,1578562439,100,100,1,100,F3-Meal,
1,1,09.01.2020,12:42,14:11,0x84,198.60,17.00,10.31,9.45,1578562921,1578568288,90,94,104,197,F3-Meal,
2,2,09.01.2020,14:31,16:41,0x84,320.71,23.09,18.03,16.53,1578569494,1578577272,130,130,217,346,F3-Meal,
3,3,09.01.2020,16:57,18:01,0x84,136.57,12.71,6.77,6.20,1578578237,1578582096,65,65,362,426,F3-Meal,
4,4,09.01.2020,18:09,19:46,0x84,193.10,16.25,10.11,9.27,1578582579,1578588367,97,97,434,530,F3-Meal,

In [13]:
meal_df.columns

Index(['Meal#', 'Date', 'Start', 'End', 'Flags', 'E-IN', 'Cbh', 'Fat', 'Pro',
       'S. tstamp', 'End tstamp', 'Minutes', 'Recs', 'First', 'Last', 'Type',
       'Frags'],
      dtype='object')

In [21]:
meal_df = meal_df.astype({'Minutes':'int', 'Pro':'float'})

In [22]:
meal_df['Date'] = pd.to_datetime(meal_df.Date)

In [23]:
user_meal_df = meal_df[['Date', 'Minutes', 'Pro']]

In [24]:
user_meal_df.head()

        Date  Minutes    Pro
0 2020-09-01      100  12.45
1 2020-09-01       90   9.45
2 2020-09-01      130  16.53
3 2020-09-01       65   6.20
4 2020-09-01       97   9.27