In [1]:
import pandas as pd 
import numpy as np

In [2]:
np.random.seed(77)
df = pd.DataFrame({'A': list(range(5)), 
                   'B': np.random.randint(0, 10, 5),
                   'C': np.random.randint(-10, 10, 5), 
                   'D': np.random.randint(-10, 100, 5)})
df

   A  B   C   D
0  0  7 -10  49
1  1  4  -3  90
2  2  4   2  44
3  3  5   9  26
4  4  8 -10  37

In [4]:
# спрятать индексы, добавить подпись к таблице
df.style.hide_index().set_caption('Cool_table')

In [14]:
# Выделим максимально значение 
df.style.highlight_max().highlight_min(color='#67A5EB')

Здесь мы сначала выделяем красным минимальное значение в столбце A (highlight_min), затем – оранжевым максимальное в колонке B (highlight_max), и применяем background_gradient для C и D, указав палитру viridis.

In [12]:
(df.style
 .highlight_min('A', color='red')
 .highlight_max('B', color='orange')
 .background_gradient(subset=['C','D'],cmap='viridis')
)

Визуализируем в таблице

In [15]:
df.style.bar(subset=['C', 'D'], color='#67A5EB', align='mid')

In [17]:
# можно указать сразу несколько цветов. отрицательные окрасим в красный, положительные - в зеленый 
(df
 .style
 .hide_index()
 .bar(subset=['C'], align='mid',color=['#d65f5f', '#5fba7d'])
)